include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include tox.ini
include requirements.txt
include test_requirements.txt
include runtests.py
recursive-include notify *.py *.html *.txt *.po *.mo *.js
global-exclude *.orig *.pyc *.log *.swp local_settings.py
